
body {
  background: #ececec;
  font-family: 'Droid sans', sans-serif;
  font-size: 14px;
} 

h1{
  color: #054850;
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  margin: 4% 0 ;
}

/* ********* FORMULAIRE **********/

#formulaire{
  width: 800px;
  margin: auto;
}

#formulaire{
  position: relative;
  background: #fff;
  border-top: #6fd7e4 10px solid;
  border-radius: 10px;
  padding: 30px 20px 30px 20px ;
  margin-bottom: 10%;
}

.form-group{
  margin-bottom: 20px;
}

label {
  width: 150px;
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  color: black;
}

textarea, 
input{
  height: 40px;
  border-radius: 3px;
  border: 1px solid #e7e7e7;
  outline: none;
  resize: none;
  padding-left: 5px;
}

::-webkit-input-placeholder{
  color: #a1a1a1;
  font-family: 'Droid sans', sans-serif;
}

/****** BTN ******/

input.bouton_submit{
  color: #3b747a;
  border-radius: 0px 5px 5px 0px;
  background-color: #6fd7e4;
  border: #5ea2aa 2px solid;
  height: 47px;
  padding: 8px 30px;
  margin: 2px -9px;
  font-weight: 600;
  cursor: pointer;
  vertical-align: text-bottom;
}

input.bouton_submit:hover{
  background-color: #60b5bf;
  color: white;
}


.form-group.message,
.bouton_submit{
  display: inline-block;
}

/******* CONTENT DU MESSAGE *******/

#content_message{
  height: 300px;
  border-bottom: 1px solid #6fd7e4;
  margin-bottom: 7%;
  padding-bottom: 4%;
  overflow-y: scroll;
  padding-right: 15px;
}

ul,
li{
  list-style: none;
  padding: 0;
  margin: 0;
}

li.one-message{
  background-color: #ddf5ff;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 0px 10px 10px 10px;
}

li:nth-child(2n+0){
  background-color: #a0e3ff;
  border-radius: 10px 10px 0px 10px;
}

.pseudo-box{
  font-weight: 600;
  font-size: 16px;
  display: inline-block;
  margin-bottom: 5px;
}

.time{
  color: grey;
  margin-bottom: 5px;
  max-width: 55px;
  overflow: hidden;
  max-height: 15px;
  display: inline-block;
  vertical-align: middle;
}

.message-box{

}




